
@media (max-width: 1366.98px) { 
    /* :root{
        --header-height: 80px;
        --content-width: auto;
        --left-column-width: 200px;
        --min-height: 100vh;
        --footer-height: 200px;
    } */
}

@media (max-width: 991.98px) { 

}

@media (max-width: 767.98px) { 
    
}

@media (max-width: 575.98px) { 
    
}